<!-- ADMINISTERED TEMPLATE -->
<div ng-controller="AdminVaccinationController" class="vaccination administered">

    <!-- ADMINISTERED HEADER -->
    <div class="header administered-header" ng-class="{'adverse-header': enteredEditFormData.adverse_reaction, 'last-of-kind': lastOfKind}">

        <i ng-if="!enteredEditFormData.adverse_reaction" class="fa fa-check-circle-o fa-lg admin-check"></i>

        <i ng-if="enteredEditFormData.adverse_reaction" class="fa fa-check-circle-o fa-lg admin-check-reaction"></i>

        <span ng-if="enteredEditFormData.adverse_reaction" class="label label-danger adverse-label">Adverse Reaction</span>

        <span ng-if="enteredEditFormData.dose_number">
            <span class="dose-number-label">Dose Number: </span>
            <span class="dose-number">{{ ::enteredEditFormData.dose_number }}</span>
        </span>

        <span class="administered-label">Administered: </span><span class="administered-date">{{ ::enteredEditFormData.administration_date | date: 'mediumDate' }}</span>

        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary" ng-class="{'active': state.editFormOpen}" ng-click="toggleEditForm()">Details</button>

            <button type="button" class="btn btn-danger" ng-class="{'active': state.adverseFormOpen}" ng-click="toggleReactionForm()" ng-if="!enteredEditFormData.adverse_reaction">Add Reaction</button>

            <button class="btn btn-danger" ng-class="{ 'active': state.adverseFormOpen }" ng-click="toggleReactionForm()" ng-if="enteredEditFormData.adverse_reaction">Reaction Details</button>
        </div>
    </div>
    <!-- /HEADER -->

    <!-- EDIT FORM -->
    <div ng-if="state.editFormOpen" class="form-wrapper">
    <form  name="form" novalidate>

            <div class="form-group">
                <label>Adminstration Date</label>
                <input name="administration_date" class="form-control" type="date" ng-model="enteredEditFormData.administration_date" placeholder="Date" required>
            </div>
            <feedback warn="form.administration_date.$error.date" warning="Enter a valid administration date."></feedback>

            <div class="form-group" ng-if="enteredEditFormData.dose_number">
                <label>Course Number</label>
                <input disabled="disabled" class="form-control" type="text" ng-model="enteredEditFormData.dose_number" placeholder="Dose In Course">
            </div>

            <div class="form-group">
                <label>Dose</label>
                <input name="dose" class="form-control" type="number" ng-model="enteredEditFormData.dose" placeholder="Dose"required>
            </div>
            <feedback warn="form.dose.$error.number || form.dose.$error.required" warning="Enter a valid dose size. For ex .5, 2..."></feedback>

            <div class="form-group">
                <label>Units</label>
                <input name="dosing_unit" class="form-control" type="text" ng-model="enteredEditFormData.dosing_unit" placeholder="Units"required>
            </div>
            <feedback warn="form.dosing_unit.$error.required" warning="Enter a valid dosing unit. For example ml, drops..."></feedback>

            <div class="form-group">
                <label>Route</label>
                <input name="route" class="form-control" type="text" ng-model="enteredEditFormData.route" placeholder="Route" required>
            </div>
            <feedback warn="form.route.$error.required" warning="Enter a valid administrationg route. For example intradermal, oral..."></feedback>

            <div class="form-group">
                <label>Body Site Administered</label>
                <input name="body_site_administered" class="form-control" type="text" ng-model="enteredEditFormData.body_site_administered" placeholder="Body Site Administered" required>
            </div>
            <feedback warn="form.body_site_administered.$error.required" warning="Enter a valid site. For example right outer thigh, left outer shoulder..."></feedback>

            <div class="form-group">
                <label>Manufacturer</label>
                <input name="manufacturer" class="form-control" type="text" ng-model="enteredEditFormData.manufacturer" placeholder="Manufacturer" required>
            </div>
            <feedback warn="form.manufacturer.$error.required" warning="Enter a valid manufacturer. For example Pfizer, Procter and Gamble..."></feedback>

            <div class="form-group">
                <label>Lot Number</label>
                <input name="lot_number" class="form-control" type="text" ng-model="enteredEditFormData.lot_number" placeholder="Lot Number" required>
            </div>
           <feedback warn="form.lot_number.$error.required" warning="Enter a valid vaccine lot number."></feedback>

            <div class="form-group">
                <label>Manufacture Date</label>
                <input name="manufacture_date" class="form-control" type="date" ng-model="enteredEditFormData.manufacture_date" placeholder="Manufacture Date">
            </div>
           <feedback warn="form.manufactur_date.$error.required || form.manufacture_date.$error.date" warning="Enter a valid manufacture date."></feedback>

            <div class="form-group">
                <label>Expiry Date</label>
                <input name="expiry_date" class="form-control" type="date" ng-model="enteredEditFormData.expiry_date" placeholder="Expiry Date">
            </div>
            <feedback warn="form.expiry_date.$error.required || form.expiry_date.$error.date" warning="Enter a valid expiry date."></feedback>

            <div class="clearfix form-button-wrapper">
            <!-- cannot delete scheduled vaccines. -->

                <button type="button" class="btn btn-default" ng-click="resetFormDataToDefaults()">Reset</button>

                <button type="button" class="btn btn-danger" ng-if="!enteredEditFormData.scheduled" ng-click="deleteVaccination(enteredEditFormData)">Delete</button>

                <button type="button" class="btn btn-warning" ng-click="unadministerVaccination(enteredEditFormData)">Unadminister</button>

                <button ng-if="form.$valid" type="submit" class="btn btn-primary" ng-click="updateVaccination(enteredEditFormData)">Update</button>
            </div>
    </form>
    </div>
    <!-- /EDIT FORM -->

    <!-- ADVERSE REACTION FORM -->
    <div class="form-wrapper" ng-if="state.adverseFormOpen">
        <form name="form"  novalidate>

            <div class="form-group">
                <label>Date</label>
                <input name="date" class="form-control" type="date" ng-model="enteredAdverseFormData.date" placeholder="Date" required>
            </div>
            <feedback warn="form.date.$error.date" warning="Enter a valid reaction date."></feedback>

            <div class="form-group">
                <label>Grade</label>
                <select name="grade" class="form-control" ng-model="enteredAdverseFormData.grade" required>
                    <option selected="selected" value="160754">Adverse Reaction Grade 1</option>
                    <option value="160755">Adverse Reaction Grade 2</option>
                    <option value="160756">Adverse Reaction Grade 3</option>
                    <option value="160757">Adverse Reaction Grade 4</option>
                    <option value="160758">Adverse Reaction Grade 5</option>
                </select>
            </div>
            <feedback warn="form.grade.$error.required" warning="Select a reaction grade."></feedback>

            <div class="form-group">
                <label>Adverse Event Description</label>
                <textarea name="adverse_event_description" class="form-control" type="text" rows="4" ng-model="enteredAdverseFormData.adverse_event_description" placeholder="Description" required></textarea>
            </div>
            <feedback warn="form.adverse_event_description.$error.required" warning="Enter a valid adverse event description."></feedback>

            <div class="form-button-wrapper">
            <!-- cannot delete scheduled vaccines. -->
                <button class="btn btn-danger" ng-if="enteredEditFormData.adverse_reaction" ng-click="removeReaction(enteredAdverseFormData)">Delete</button>

                <button ng-if="!enteredEditFormData.adverse_reaction && form.$valid" class="btn btn-warning" ng-click="addReaction(enteredAdverseFormData, enteredEditFormData)">Submit</button>

                <button ng-if="enteredEditFormData.adverse_reaction" class="btn btn-warning" ng-click="addReaction(enteredAdverseFormData, enteredEditFormData)">Update</button>
            </div>
        </form>
    </div>
    <!-- /ADVERSE REACTION FORM -->
</div>
<!-- ADMINISTERED TEMPLATE -->
