<!-- ADMINISTERED TEMPLATE -->
<div ng-controller="AdminVaccinationController" class="vaccination administered">

    <!-- ADMINISTERED HEADER -->
    <div ng-if="firstOfKind" class="vaccination-group-header" style="background-color: {{ headercolor }}">{{ enteredEditFormData.name }}</div>
    <div class="header administered-header" ng-class="{'adverse-header':enteredEditFormData.adverse_reaction, 'last-of-kind': lastOfKind}">

        <i ng-if="!enteredEditFormData.adverse_reaction" class="fa fa-check-circle-o fa-lg admin-check"></i>

        <i ng-if="enteredEditFormData.adverse_reaction" class="fa fa-check-circle-o fa-lg admin-check-reaction"></i>


        <span ng-if="enteredEditFormData.dose_number">
            <span class="dose-number-label">Dose Number: </span>
            <span class "dose-number">{{ enteredEditFormData.dose_number }}</span>
        </span>

        <span class="administered-label">Administered: </span><span class="administered-date">{{ enteredEditFormData.administration_date | date: 'mediumDate' }}</span>

        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-primary" ng-click="toggleEditForm()">Details</button>

            <button type="button" class="btn btn-danger" ng-click="toggleReactionForm()" ng-if="!enteredEditFormData.adverse_reaction">Add Reaction</button>

            <button type="button" class="btn btn-danger" ng-click="toggleReactionForm()" ng-if="enteredEditFormData.adverse_reaction">Reaction Details</button>
        </div>
    </div>
    <!-- /HEADER -->

    <!-- EDIT FORM -->
    <form ng-if="state.editFormOpen">
        <div class="form-wrapper">
            <div class="form-group">
                <label>Adminstration Date</label>
                <input class="form-control" type="date" ng-model="enteredEditFormData.administration_date" placeholder="Date">
            </div>
            <div class="form-group" ng-if="enteredEditFormData.dose_number">
                <label>Course Number</label>
                <input disabled="disabled" class="form-control" type="text" ng-model="enteredEditFormData.dose_number" placeholder="Dose In Course">
            </div>
            <div class="form-group">
                <label>Dose</label>
                <input class="form-control" type="text" ng-model="enteredEditFormData.dose" placeholder="Dose">
            </div>
            <div class="form-group">
                <label>Units</label>
                <input class="form-control" type="text" ng-model="enteredEditFormData.dosing_unit" placeholder="Units">
            </div>
            <div class="form-group">
                <label>Route</label>
                <input class="form-control" type="text" ng-model="enteredEditFormData.route" placeholder="Route">
            </div>
            <div class="form-group">
                <label>Body Site Administered</label>
                <input class="form-control" type="text" ng-model="enteredEditFormData.body_site_administered" placeholder="Body Site Administered">
            </div>
            <div class="form-group">
                <label>Manufacturer</label>
                <input class="form-control" type="text" ng-model="enteredEditFormData.manufacturer" placeholder="Manufacturer">
            </div>
            <div class="form-group">
                <label>Lot Number</label>
                <input class="form-control" type="text" ng-model="enteredEditFormData.lot_number" placeholder="Lot Number">
            </div>
            <div class="form-group">
                <label>Manufacture Date</label>
                <input class="form-control" type="date" ng-model="enteredEditFormData.manufacture_date" placeholder="Manufacture Date">
            </div>
            <div class="form-group">
                <label>Expiry Date</label>
                <input class="form-control" type="date" ng-model="enteredEditFormData.expiry_date" placeholder="Expiry Date">
            </div>
            <div class="clearfix form-button-wrapper">
            <!-- cannot delete scheduled vaccines. -->
                <button type="button" class="btn btn-default" ng-click="resetFormDataToDefaults()">Reset</button>                <button type="button" class="btn btn-danger" ng-if="!enteredEditFormData.routine" ng-click="deleteVaccination(enteredEditFormData._id)">Delete</button>
                <button type="button" class="btn btn-danger" ng-click="unadministerVaccination(enteredEditFormData)">Unadminister</button>
                <button type="submit" class="btn btn-warning" ng-click="updateVaccination(enteredEditFormData)">Update</button>
            </div>
        </div>
    </form>
    <!-- /EDIT FORM -->

    <!-- ADVERSE REACTION FORM -->
    <form ng-if="state.adverseFormOpen">
        <div class="form-wrapper" >
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" type="date" ng-model="enteredAdverseFormData.date" placeholder="Date">
            </div>
            <div class="form-group">
                <label>Grade</label>
                <select name="Grade" class="form-control" ng-model="enteredAdverseFormData.grade">
                    <option value=160754>Adverse Reaction Grade 1</option>
                    <option value=160755>Adverse Reaction Grade 2</option>
                    <option value=160756>Adverse Reaction Grade 3</option>
                    <option value=160757>Adverse Reaction Grade 4</option>
                    <option value=160758>Adverse Reaction Grade 5</option>
                </select>
            </div>
            <div class="form-group">
                <label>Adverse Event Description</label>
                <textarea class="form-control" type="text" rows="4" ng-model="enteredAdverseFormData.adverse_event_description"></textarea>
            </div>
            <div class="form-button-wrapper">
            <!-- cannot delete scheduled vaccines. -->
                <button type="button" class="btn btn-danger" ng-click="removeReaction(enteredAdverseFormData)">Delete</button>
                <button type="submit" ng-if="!enteredEditFormData.adverse_reaction" class="btn btn-warning" ng-click="addReaction(enteredAdverseFormData, enteredEditFormData)">Submit</button>
                <button type="submit" ng-if="enteredEditFormData.adverse_reaction" class="btn btn-warning" ng-click="addReaction(enteredAdverseFormData, enteredEditFormData)">Update</button>
            </div>
        </div>
    </form>
    <!-- /ADVERSE REACTION FORM -->
</div>
<!-- ADMINISTERED TEMPLATE -->