$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
.vaccination {
    .form-wrapper {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border-top: 1px solid #fff;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        // border-radius: 0 0 4px 4px;
        box-shadow: none;
    }

    .header {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 4px 4px 4px 4px;
        box-shadow: none;
        background-color: #F7F7F9;
        line-height: 45px;
    }

    .header:nth-child(1) {
    }

    .drug {
        padding-left: 15px;
        display: inline-block;
    }

    .date {
        padding-left: 5px;
        display: inline-block;
    }

    .administered-header {
        background-color: #dff0d8;
        border-color: #CCDACC;

        .btn-primary {
            background-color: #649a8c;
            border-color: #94bab1;
        }

        .btn-danger {
            background-color: black;
            border-color: black;
        }

        .label-default {
            background-color: #56A634;
        }
    }
}

.container {
    padding-top: 10%;
}

.form-group:nth-child(1) {
    margin-top: 15px;
}

.btn-group {
    padding-top: 5px;
    padding-right: 15px;
}

.header .btn {
    padding: .2em 1em;
}

.header .btn-group {
    margin-top: 4px;
}

