<!-- STAGED TEMPLATE -->
<div ng-controller="StagedVaccinationController" class="vaccination unadministered">

    <!-- STAGED HEADER -->
    <div class="header unadministered-header staged" >
        <h4 class="drug"><span class="label label-default">{{ enteredAdminFormData.name }}</span></h4>
    </div>
    <!-- /STAGED HEADER -->

    <!-- ADMINISTRATION FORM -->
    <form ng-if="state.administerFormOpen" class="form-wrapper show-hide" name="form" novalidate>
        <div>

            <div ng-if="enteredAdminFormData._administering" class="form-group">
                <label>Administration Date</label>
                <input name="administration_date" class="form-control" type="date" ng-model="enteredAdminFormData.administration_date" placeholder="Date" required>
            </div>
            <feedback warn="form.administration_date.$error.date" warning="Enter a valid adminstration date."></feedback>

             <div ng-if="enteredAdminFormData.custom" class="form-group">
                <label>Vaccine Name</label>
                <input name="name" class="form-control" type="text" ng-model="enteredAdminFormData.name" placeholder="Vaccine Name" ng-required="enteredAdminFormData.custom">
            </div>
            <feedback warn="form.name.$error.required" warning="Enter a vaccine name."></feedback>

            <div ng-if="enteredAdminFormData._scheduling" class="form-group">
                <label>Scheduled Date</label>
                <input name="scheduled_date" class="form-control" type="date" ng-model="enteredAdminFormData.scheduled_date" placeholder="Scheduled Date" required>
            </div>
            <feedback warn="form.scheduled_date.$error.date" warning="Enter a valid scheduled date."></feedback>

            <div class="form-group">
                <label>Dose</label>
                <input name="dose" class="form-control" type="number" ng-model="enteredAdminFormData.dose" placeholder="Dose" ng-required="enteredAdminFormData._administering">
            </div>
            <feedback warn="(enteredAdminFormData._administering && form.dose.$error.required || form.dose.$error.number) || enteredAdminFormData._scheduling && form.dose.$error.number" warning="Enter a valid dose size. For ex .5, 2..."></feedback>

            <div class="form-group">
                <label>Units</label>
                <input name="units" class="form-control" type="text" ng-model="enteredAdminFormData.dosing_unit" placeholder="Units" ng-required="enteredAdminFormData._administering">
            </div>
            <feedback warn="enteredAdminFormData._administering && form.units.$error.required || enteredAdminFormData._scheduling && form.units.$error.text" warning="Enter a valid dosing unit. For example ml, drops..."></feedback>

            <div class="form-group">
                <label>Route</label>
                <input name="route" class="form-control" type="text" ng-model="enteredAdminFormData.route" placeholder="Route" ng-required="enteredAdminFormData._administering">
            </div>
            <feedback warn="enteredAdminFormData._administering && form.route.$error.required || enteredAdminFormData._scheduling && form.route.$error.text" warning="Enter a valid administrationg route. For example intradermal, oral..."></feedback>

            <div class="form-group">
                <label>Body Site Administered</label>
                <input name="body_site_administered" class="form-control" type="text" ng-model="enteredAdminFormData.body_site_administered" placeholder="Body Site Administered" ng-required="enteredAdminFormData._administering">
            </div>
            <feedback warn="enteredAdminFormData._administering && form.body_site_administered.$error.required || enteredAdminFormData._scheduling && form.body_site_administered.$error.text" warning="Enter a valid site. For example right outer thigh, left outer shoulder..."></feedback>

             <div ng-if="enteredAdminFormData._administering" class="form-group">
                <label>Manufacturer</label>
                <input name="manufacturer" class="form-control" type="text" ng-model="enteredAdminFormData.manufacturer" placeholder="Manufacturer" required="enteredAdminFormData._administering">
            </div>
            <feedback warn="enteredAdminFormData._administering && form.manufacturer.$error.required" warning="Enter a valid manufacturer. For example Pfizer, Procter and Gamble..."></feedback>

            <div ng-if="enteredAdminFormData._administering" class="form-group">
                <label>Lot Number</label>
                <input name="lot_number" class="form-control" type="text" ng-model="enteredAdminFormData.lot_number" placeholder="Lot Number" required="enteredAdminFormData._administering">
            </div>
            <feedback warn="enteredAdminFormData._administering && form.lot_number.$error.required" warning="Enter a valid vaccine lot number."></feedback>

            <div ng-if="enteredAdminFormData._administering" class="form-group">
                <label>Manufacture Date</label>
                <input name="manufacture_date" class="form-control" type="date" ng-model="enteredAdminFormData.manufacture_date" placeholder="Manufacture Date" required>
            </div>
            <feedback warn="enteredAdminFormData._administering && form.manufacture_date.$error.required || form.manufacture_date.$error.date" warning="Enter a valid manufacture date."></feedback>

            <div ng-if="enteredAdminFormData._administering" class="form-group">
                <label>Expiry Date</label>
                <input name="expiry_date" class="form-control" type="date" ng-model="enteredAdminFormData.expiry_date" placeholder="Expiry Date" required>
            </div>
            <feedback warn="enteredAdminFormData._administering && form.expiry_date.$error.required || form.expiry_date.$error.date" warning="Enter a valid expiry date."></feedback>

            <div class="form-button-wrapper">
            <!-- cannot delete scheduled vaccines. -->
                <button type="button" class="btn btn-danger" ng-click="removeStagedVaccination()">Cancel</button>

                <button ng-if="enteredAdminFormData._administering" type="button" class="btn btn-primary" ng-click="resetFormDataToDefaults()">Reset</button>

                <button ng-if="enteredAdminFormData._administering && form.$valid" type="submit" class="btn btn-warning" ng-click="saveVaccination(enteredAdminFormData)">Administer</button>

                <button ng-if="enteredAdminFormData._scheduling && form.$valid" type="submit" class="btn btn-warning" ng-click="scheduleVaccination(enteredAdminFormData)">Schedule</button>
            </div>
        </div>
    </form>
    <!-- / ADMINISTRATION FORM -->
</div>
<!-- /STAGED TEMPLATE -->