<!-- STAGED TEMPLATE -->
<div ng-controller="StagedVaccinationController" class="vaccination unadministered vaccination-staged">
    <!-- STAGED HEADER -->
    <div class="header unadministered-header" >
        <h4 class="drug"><span class="label label-default">{{ vaccination.name }}</span></h4>
        <h4 class="date" ng-if="vaccination.indication"><span class="label label-default">Indication: {{ vaccination.indication | date: 'mediumDate' }}</span></h4>
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-info" ng-click="toggleAdministerForm()">Administer</button>
        </div>
    </div>
    <!-- /HEADER -->

    <!-- ADMINISTRATION FORM -->
    <form ng-if="state.administerFormOpen" class="form-wrapper show-hide">
        <div>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" type="date" ng-model="enteredAdminFormData.administration_date" placeholder="Date">
            </div>
            <div class="form-group">
                <label>Dose</label>
                <input class="form-control" type="text" ng-model="enteredAdminFormData.dose" placeholder="Dose">
            </div>
            <div class="form-group">
                <label>Units</label>
                <input class="form-control" type="text" ng-model="enteredAdminFormData.dosing_unit" placeholder="Units">
            </div>
            <div class="form-group">
                <label>Route</label>
                <input class="form-control" type="text" ng-model="enteredAdminFormData.route" placeholder="Route">
            </div>
            <div class="form-group">
                <label>Body Site Administered</label>
                <input class="form-control" type="text" ng-model="enteredAdminFormData.body_site_administered" placeholder="Body Site Administered">
            </div>


             <div class="form-group">
                <label>Manufacturer</label>
                <input class="form-control" type="text" ng-model="enteredAdminFormData.manufacturer" placeholder="Manufacturer">
            </div>

            <div class="form-group">
                <label>Lot Number</label>
                <input class="form-control" type="text" ng-model="enteredAdminFormData.lot_number" placeholder="Lot Number">
            </div>
            <div class="form-group">
                <label>Manufacture Date</label>
                <input class="form-control" type="date" ng-model="enteredAdminFormData.manufacture_date" placeholder="Manufacture Date">
            </div>
            <div class="form-group">
                <label>Expiry Date</label>
                <input class="form-control" type="date" ng-model="enteredAdminFormData.expiry_date" placeholder="Expiry Date">
            </div>
            <div class="form-button-wrapper">
            <!-- cannot delete scheduled vaccines. -->
                <button type="button" class="btn btn-danger" ng-click="removeStagedVaccination()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="resetFormDataToDefaults()">Reset</button>
                <button type="submit" class="btn btn-warning" ng-click="saveVaccination()">Submit</button>
            </div>
        </div>
    </form>
    <!-- / ADMINISTRATION FORM -->
</div>
<!-- /STAGED TEMPLATE -->