// colors
$adverse-background: #F8E0E4;
$adverse-foreground: #E7687D;

.vaccinations-wrapper:first-child:before {
    content: "hello";
}
.container {
    margin-bottom: 90px;
}

.vaccination-staged {
        margin-top: 120px;
        margin-bottom: 85px;
}

.scheduled-header, .not-scheduled-header{
    border-bottom: 1px solid lightgrey;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;

    .label {
        background: black;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}


.vaccination {
    margin-top: 4px;

    .form-group:nth-child(1) {
        margin-top: 45px;
    }

    .form-wrapper, .header:nth-last-child(1) {
        border-bottom-right-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }

    .form-wrapper {
        padding: 15px 80px;
        margin-right: 0;
        margin-left: 0;
        background-color: #FDFDFD;
        border-top: 1px solid #fff;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        // border-radius: 0 0 4px 4px;
        box-shadow: none;
    }

    .header {
        margin-right: 0;
        margin-top: 2px;
        margin-left: 0;
        background-color: #fff;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        box-shadow: none;
        background-color: #F7F7F9;
        line-height: 45px;
    }

    .drug {
        padding-left: 15px;
        display: inline-block;
    }

    .date {
        padding-left: 5px;
        display: inline-block;
    }

    .btn {
        font-weight: bold;
    }

    .administered-header {
        background-color: #dff0d8;
        border-color: #CCDACC;

        .btn-primary {
            background-color: #649a8c;
            border-color: white;
        }

        .btn-danger {
            background-color: rgb(80, 207, 134);
            border-color: white;
        }

        .label-default {
            background-color: rgba(99, 190, 135, 1);
        }
    }

    .unadministered-header {
        .btn-info {
            border-color: white;
        }

        .label-default {
            background-color: lightgrey;
            color: white;
        }
    }

    .adverse-header {
        background-color: $adverse-background;
        border-color: #FAB9C4;
        .label {
            border: 1px solid white;
            background-color: $adverse-foreground;
        }

        .btn {
            background-color: $adverse-foreground;
        }
    }
}

.vaccination {
    .form-button-wrapper {
        text-align: center;
        button {
            margin-bottom: 30px;
            margin-top: 15px;
        }
    }
}

.container {
    padding-top: 10%;
}



.btn-group {
    padding-top: 5px;
    padding-right: 15px;
}

.header .btn {
    padding: .2em 1em;
}

.header .btn-group {
    margin-top: 4px;
}

.input-group-addon {
    background-color: #FAFAFA;
}
// injector
// endinjector
