<!-- UNADIMISTERED TEMPLATE -->
<div ng-controller="UnAdminVaccinationController" class="vaccination unadministered">

    <!-- UNADMINISTERED HEADER -->
    <div class="header unadministered-header" >

        <i class="fa fa-circle-o fa-lg unadmin-x"></i>

        <span ng-if="due" class="label label-danger due-label">Due</span>

        <span ng-if="enteredAdminFormData.dose_number" class="header-info">
            <span class="dose-number-label">Dose Number: </span>
            <span class="dose-number">{{ ::enteredAdminFormData.dose_number }}</span>
        </span>

        <span ng-if="enteredAdminFormData.indication_name" class="header-info">
            <span class="indication-label">Indication: </span>
            <span class="indication-date">{{ ::enteredAdminFormData.indication_name | date: 'mediumDate' }}</span>
        </span>

        <span class="header-info">
            <span class="scheduled-label">To be administered on: </span>
            <span class="scheduled-date">{{ ::enteredAdminFormData.scheduled_date | date: 'mediumDate' }}</span>
        </span>
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-info" ng-class="{ 'active': state.administerFormOpen }" ng-click="toggleAdministerForm()">Administer</button>
        </div>
    </div>
    <!-- /HEADER -->

    <!-- ADMINISTRATION FORM -->
    <div ng-if="state.administerFormOpen" class="form-wrapper css-form">

        <form name="form" novalidate>

            <div class="form-group">
                <label>Administration Date</label>
                <input name="administration_date" class="form-control" type="date" ng-model="enteredAdminFormData.administration_date" placeholder="Administration Date"required>
            </div>
            <feedback warn="form.administration_date.$error.date" warning="Enter a valid administration date."></feedback>

            <div class="form-group" ng-if="enteredAdminFormData.dose_number">
                <label>Course Number</label>
                <input disabled="disabled" class="form-control" type="text" ng-model="enteredAdminFormData.dose_number" placeholder="Dose in Course">
            </div>

            <div class="form-group">
                <label>Dose</label>
                <input name="dose" class="form-control" type="number" ng-model="enteredAdminFormData.dose" placeholder="Dose" required>
            </div>
            <feedback warn="form.dose.$error.required || form.dose.$error.number" warning="Enter a valid dose. Dose must be a number"></feedback>

            <div class="form-group">
                <label>Units</label>
                <input name="dosing_unit" class="form-control" type="text" ng-model="enteredAdminFormData.dosing_unit" placeholder="Units" required>
            </div>
            <feedback warn="form.dosing_unit.$error.required" warning="Enter a valid dosing unit. For example ml, drops..."></feedback>

            <div class="form-group">
                <label>Route</label>
                <input name="route" class="form-control" type="text" ng-model="enteredAdminFormData.route" placeholder="Route" required>
            </div>
            <feedback warn="form.route.$error.required" warning="Enter a valid administrationg route. For example intradermal, oral..."></feedback>

            <div class="form-group">
                <label>Body Site Administered</label>
                <input name="body_site_administered" class="form-control" type="text" ng-model="enteredAdminFormData.body_site_administered" placeholder="Body Site Administered" required>
            </div>
            <feedback warn="form.body_site_administered.$error.required" warning="Enter a valid site. For example right outer thigh, left outer shoulder..."></feedback>

            <div class="form-group">
                <label>Manufacturer</label>
                <input name="manufacturer" class="form-control" type="text" ng-model="enteredAdminFormData.manufacturer" placeholder="Manufacturer" required>
            </div>
            <feedback warn="form.manufacturer.$error.required" warning="Enter a valid manufacturer. For example Pfizer, Procter and Gamble..."></feedback>

            <div class="form-group">
                <label>Lot Number</label>
                <input name="lot_number" class="form-control" type="text" ng-model="enteredAdminFormData.lot_number" placeholder="Lot Number" required>
            </div>
            <feedback warn="form.lot_number.$error.required" warning="Enter a valid vaccine lot number."></feedback>

            <div class="form-group">
                <label>Manufacture Date</label>
                <input name="manufacture_date" class="form-control" type="date" ng-model="enteredAdminFormData.manufacture_date" placeholder="Manufacture Date" required>
            </div>
            <feedback warn="form.manufacture_date.$error.date" warning="Enter a valid manufacture date."></feedback>

            <div class="form-group">
                <label>Expiry Date</label>
                <input name="expiry_date" class="form-control" type="date" ng-model="enteredAdminFormData.expiry_date" placeholder="Expiry Date" required>
            </div>
            <feedback warn="form.expiry_date.$error.date" warning="Enter a valid expiry date."></feedback>

            <div class="form-button-wrapper">
                <!-- cannot delete scheduled vaccines only modify. -->
                <button type="button" class="btn btn-danger" ng-if="!enteredAdminFormData.scheduled" ng-click="deleteVaccination(enteredAdminFormData)">Delete</button>
                <button type="button" class="btn btn-default" ng-click="resetFormDataToDefaults()">Reset</button>
                <button ng-show="form.$valid" type="submit" class="btn btn-primary" ng-click="submitVaccination(enteredAdminFormData)">Submit</button>
            </div>
        </form>
    </div>
    <!-- / ADMINISTRATION FORM -->
</div>
<!-- /UNADMINISTERED TEMPLATE -->
