<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>vaccinations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>

<div class="container" ng-controller="MainController">

    <!-- SEARCH ADD SECTION -->
    <form class="form-horizontal">
        <div class="form-group form-group-sm">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="input-group">
                    <span class="input-group-addon search-add-lbls">Search</span>
                    <input class="form-control" type="text" id="search" ng-model="search.vaccinations" placeholder="Search Patient's Vaccinations">
                </div>
            </div>
        </div>
    </form>

    <div class="add-vaccination-wrapper">
        <form class="form-horizontal">
            <div class="form-group form-group-sm">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="input-group">
                        <span class="input-group-addon search-add-lbls">Add New Vaccination</span>
                        <input class="form-control" type="text" id="search" placeholder="Add a New Vaccination" ng-model="newVaccine" bs-options="vaccines as formatVaccine(vaccines) for vaccines in vaccines " bs-typeahead>
                        <span class="input-group-addon admin-vacc-btn" ng-click="stageVaccination(newVaccine, false)"><strong>Administer</strong></span>
                        <span class="input-group-addon sched-vacc-btn" ng-click="stageVaccination(newVaccine, true)"><strong>Schedule</strong></span>
                    </div>
                </div>
            </div>
        </form>

        <div class="staged-wrapper" ng-if="stagedVaccinations.length > 0">

            <!-- STAGED VACCINATIONS -->
            <div id="alert-container"></div>
            <vaccination get-vaccination="stagedVaccination" ng-repeat="stagedVaccination in stagedVaccinations"></vaccination>
            <!-- /STAGED VACCINATION -->

        </div>

    </div>
    <!-- /SEARCH ADD SECTION -->

    <!-- VACCINATIONS -->
    <div class="vaccinations-wrapper">

        <div class="scheduled-header"><span class="label label-default section-label">Scheduled</span></div>
        <!-- ROUTINE VACCINATIONS -->
        <vaccination get-vaccination="vaccination" ng-repeat="vaccination in (schedvaccs = (vaccinations | filter: {routine: 'true'} | orderBy:['name', 'scheduled_date'] | filter:{name:search.vaccinations} | filter: {staged: '!true'}))" get-vacc="schedvaccs"></vaccination>

        <div class="not-scheduled-header"><span class="label label-default section-label">Unscheduled</span></div>
        <!-- NONROUTINE VACCINATIONS -->
        <vaccination get-vaccination="vaccination" ng-repeat="vaccination in (unschedvaccs = (vaccinations | filter: {routine: 'false'} | orderBy:['name', 'scheduled_date'] | filter:{name:search.vaccinations}| filter: {staged: '!true'}))" get-vacc="unschedvaccs"></vaccination>

    </div>
    <!-- /VACCINATIONS -->

</div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automaticaly insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
