<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>vaccinations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>

<div class="container" ng-controller="MainController">
    <loader ng-if="state.loading"></loader>

    <!-- ADD SECTION -->
    <div class="add-vaccination-wrapper">

            <h5 class="add-vaccination-header">Add New Vaccination</h5>

            <div class="add-vaccination-select-wrapper">
                <select class="form-control add-vaccination" ng-model="newVaccine" ng-options="vaccines as formatVaccine(vaccines) for vaccines in vaccines"></select>
            </div>

            <div class="form-button-wrapper">
                <button ng-if="newVaccine"  class="btn btn-info" ng-click="stageVaccination(newVaccine, false)"><strong>Administer</strong></button>

                <button ng-if="newVaccine" class="btn btn-primary" ng-click="stageVaccination(newVaccine, true)"><strong>Schedule</strong></button>
            </div>


        <div class="staged-wrapper" ng-if="stagedVaccinations.length > 0">

            <!-- STAGED VACCINATIONS -->
            <vaccination ng-if="stagedVaccinations" get-vaccination="stagedVaccinations[0]"></vaccination>
            <!-- /STAGED VACCINATION -->

        </div>

    </div>
    <!-- /SEARCH ADD SECTION -->

    <!-- VACCINATIONS -->
    <div class="vaccinations-wrapper">

        <div class="scheduled-header"><span class="label label-default section-label">Scheduled</span></div>
        <!-- ROUTINE VACCINATIONS -->
        <vaccination get-vaccination="vaccination" ng-repeat="vaccination in (schedvaccs = (vaccinations | filter: {routine: 'true'} | orderBy:['name', 'scheduled_date'] | filter: {staged: '!true'}))" get-vacc="schedvaccs"></vaccination>

        <div class="not-scheduled-header"><span class="label label-default section-label">Unscheduled</span></div>

        <!-- NONROUTINE VACCINATIONS -->
        <vaccination get-vaccination="vaccination" ng-repeat="vaccination in (unschedvaccs = (vaccinations | filter: {routine: 'false'} | orderBy:['name', 'scheduled_date'] | filter: {staged: '!true'}))" get-vacc="unschedvaccs"></vaccination>

    </div>
    <!-- /VACCINATIONS -->

</div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automaticaly insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
