<!-- UNADIMISTERED TEMPLATE -->
<div class="vaccination unadministered">
    <!-- UNADMINISTERED HEADER -->
    <div class="header form-wrapper" >
        <h4 class="drug"><span class="label label-default">{{ vaccination.name }}</span></h4>
        <h4 class="date" ng-if="vaccination.scheduled"><span class="label label-default">Scheduled: {{ vaccination.scheduled_date | date: 'mediumDate' }}</span></h4>
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-info" ng-click="toggleAdministerForm()">Administer</button>
        </div>
    </div>
    <!-- /HEADER -->

    <!-- ADMINISTRATION FORM -->
    <form ng-if="state.administerFormOpen">
        <div class="form-wrapper" >
            <div class="form-group col-sm-offset-1 col-sm-10">
                <label>Date</label>
                <input class="form-control" type="date" ng-model="vaccination.administration_date" placeholder="Date">
            </div>
            <div class="form-group col-sm-offset-1 col-sm-10">
                <label>Dose</label>
                <input class="form-control" type="text" ng-model="vaccination.dose" placeholder="Dose">
            </div>
            <div class="form-group col-sm-offset-1 col-sm-10">
                <label>Units</label>
                <input class="form-control" type="text" ng-model="vaccination.dosing_unit" placeholder="Units">
            </div>
            <div class="form-group col-sm-offset-1 col-sm-10">
                <label>Route</label>
                <input class="form-control" type="text" ng-model="vaccination.route" placeholder="Units">
            </div>
            <div class="form-group col-sm-offset-1 col-sm-10">
                <label>Body Site Administered</label>
                <input class="form-control" type="text" ng-model="vaccination.body_site_administered" placeholder="Body Site Administered">
            </div>
            <div class="form-group col-sm-offset-1 col-sm-10">
                <label>Lot Number</label>
                <input class="form-control" type="text" ng-model="vaccination.lot_number" placeholder="Lot Number">
            </div>
            <div class="form-group col-sm-offset-1 col-sm-10">
                <label>Manufacture Date</label>
                <input class="form-control" type="text" ng-model="vaccination.manufacture_date" placeholder="Manufacture Date">
            </div>
            <div class="form-group col-sm-offset-1 col-sm-10">
                <label>Expiry Date</label>
                <input class="form-control" type="text" ng-model="vaccination.expiry_date" placeholder="Expiry Date">
            </div>
            <div class="form-button-wrapper">
            <!-- cannot delete scheduled vaccines. -->
                <button type="submit" class="btn btn-danger" ng-show="!vaccination.scheduled" ng-click="deleteVaccination(vaccination._id)">Delete</button>
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
        </div>
    </form>
    <!-- / ADMINISTRATION FORM -->
</div>
<!-- /UNADMINISTERED TEMPLATE -->