<div class="vaccination" >
    <!-- UNADIMISTERED TEMPLATE -->
    <div class="unadministered">
        <!-- UNADMINISTERED HEADER -->
        <div class="header form-wrapper" >
            <h4 class="drug"><span class="label label-default">{{ vaccination.name }}</span></h4>
            <h4 class="date" ng-if="vaccination.scheduled"><span class="label label-default">Scheduled: {{ vaccination.scheduled_date | date: 'mediumDate' }}</span></h4>
            <div class="btn-group pull-right" role="group" aria-label="...">
                <button type="button" class="btn btn-info" ng-click="toggleAdministerForm()">Administer</button>
            </div>
        </div>
        <!-- /HEADER -->

        <!-- ADMINISTRATION FORM -->
        <div class="form-wrapper" ng-show="state.administerFormOpen">
            <form class="form-horizontal">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="date" ng-model="enteredFormData.date" placeholder="Date">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="formGroupInputSmall">Small label</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Small input">
                    </div>
                </div>
                <div class="form-button-wrapper">
                    <button type="submit" class="btn btn-danger" ng-click="deleteVaccination(vaccination._id)">Delete</button>
                    <button type="submit" class="btn btn-warning">Submit</button>
                </div>
            </form>
        </div>
        <!-- / ADMINISTRATION FORM -->
    </div>
    <!-- /UNADMINISTERED TEMPLATE -->
</div>